body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #333, #000, #333, #666);
}

h1 {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background: #666;
}

/* Nuevo estilo para el botón "Finalizar Compra" */
.cart-button-finalize {
    display: block; /* Cambiado a "block" para ocupar el ancho completo del contenedor */
    margin: 20px auto; /* Ajustado para centrar horizontalmente y agregar margen superior */
    padding: 15px;
    background: #28a745; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none; /* Elimina el subrayado por defecto en el botón */
}

.cart-button-finalize:hover {
    background: #218838; /* Cambia el tono de verde al pasar el ratón sobre el botón */
}


/* Agrega estilos al botón de eliminar producto */
.cart-remove-button {
    color: #fff;
    background-color: #dc3545; /* Color de fondo rojo (peligro) */
    border: 1px solid #dc3545; /* Borde rojo */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Cambia el color del botón cuando se pasa el ratón sobre él */
.cart-remove-button:hover {
    background-color: #bd2130; /* Color de fondo rojo oscuro en hover */
    border: 1px solid #bd2130; /* Borde rojo oscuro en hover */
}
