body {
    background: linear-gradient(to bottom, #222, #000);
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Para centrar el formulario horizontalmente */
}

.form-group {
    margin: 10px 0;
}

label {
    font-size: 1.2rem;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Ajustar el ancho del cuadro de contraseña */
.reset-password-form input[name="newPassword"],
.reset-password-form input[name="confirmPassword"] {
    width: 100%;
    max-width: 300px;
    /* Ajusta este valor según tus necesidades */
}

/* Centrar las etiquetas con el cuadro de contraseña */
.reset-password-form label {
    text-align: right;
    width: 100%;
    max-width: 300px;
    /* Mismo valor que el cuadro de contraseña */
}
