<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/delete-user.css">
    <title>Usuario Eliminado</title>
</head>

<body>
    <div class="container">
        <h1>Usuario Eliminado</h1>
        <p>El usuario {{user.first_name}} {{user.last_name}} ha sido eliminado.</p>
        <a href="/edit-users">Volver a la Lista de Usuarios</a>
    </div>
</body>

</html>

