<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/forgot-password.css">
    <title>Olvidé mi Contraseña</title>
</head>

<body>
    <div class="container">
        <h1>Restablecer Contraseña</h1>
        <form id="forgotPasswordForm" class="forgot-password-form" action="/password-reset/forgot-password"
            method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <button type="submit">Enviar Correo de Restablecimiento</button>
        </form>
    </div>
    <script src="../public/js/forgot-password.js"></script>
</body>

</html>