<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Constraseña</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
        <p>No estás registrado?</p><a href="/register">Registrate aqui</a>
    </form>
</div>
<div>
    <a href="/api/sessions/github"><button>Entrar con GitHub</button></a>
</div>

<script src="/js/login.js"></script>