<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset-email-sent.css">
    <title>Correo de Restablecimiento Enviado</title>
</head>

<body>
    <div class="container">
        <h1>Correo de Restablecimiento Enviado</h1>
        <p>Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
    </div>
</body>

</html>
