<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset-password.css">
    <title>Restablecer Contraseña</title>
</head>

<body>
    <div class="container">
        <h1>Restablecer Contraseña</h1>
        <form id="resetPasswordForm" class="reset-password-form" action="/password-reset/reset-password/{{token}}"
            method="POST">

            <!-- Agrega aquí los campos del formulario para la nueva contraseña -->
            <div class="form-group">
                <label for="newPassword">Nueva Contraseña</label>
                <input type="password" name="newPassword" id="newPassword" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
            </div>

            <input type="hidden" name="token" value="{{token}}">

            <button type="submit">Restablecer Contraseña</button>
        </form>
    </div>

</body>

</html>