<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rol de Usuario Modificado</title>
    <link rel="stylesheet" href="/styles/roleChanged.css"> <!-- Asegúrate de que la ruta sea correcta -->
</head>

<body>
    <h1>Rol de Usuario Modificado</h1>
    <p>El rol de {{user.first_name}} {{user.last_name}} ha sido cambiado a {{newRole}}.</p>
    <a href="/edit-users">Volver a la Lista de Usuarios</a>
</body>

</html>
